<!-- ===== debut fragmentCaveJumbotron -->

<!-- Les jumbotrons de BT3 n'existe plus et sont remplacés par de simple div -->       

<div class="mt-4 p-5 bg-success text-white rounded">
  <h1 class="display-4">Bienvenue sur le projet de soutenances de LO07</h1>
  <p class="lead">
    Gérez simplement vos soutenances<br>
    Que vous soyez responsable, examinateur ou étudiant, ce portail centralise toutes les étapes :
  </p>
  <ul>
    <li>création et suivi des projets</li>
    <li>planification des créneaux et rendez-vous</li>
    <li>attribution des rôles et inscriptions</li>
  </ul>
  <hr class="my-4">
  <p>Connectez-vous ou inscrivez-vous pour commencer !</p>
</div>
<p/>


<!-- ===== fin fragmentCaveJumbotron -->